# cache or compiler output
/.cpcache
/node_modules
/.shadow-cljs
/cljs-runtime
/.nrepl-port

# output
/sy-datascript.js

# Calva + LSP
.cache
/.clj-kondo/rewrite-clj/
/.calva/output-window/output.calva-repl
