{:deps {:aliases [:sy-datascript]}

 ; :nrepl false
 :nrepl {:middleware [cider.piggieback/wrap-cljs-repl]}

 :cache-blockers #{}
 :builds
 {:sy-datascript
  {:target :node-library
   :exports {:main main/main}
   :js-options {:js-package-dirs ["node_modules"]}

   ; :devtools {:preloads [devtools.preload]}
   :release {:compiler-options {:optimizations :advanced
                                :source-map true
                                :source-map-detail-level :all}}

   :output-dir "./"
   :output-to "./sy-datascript.js"}}}
